.buttons{
    align-items: center;
    text-align: center;
}

.assemblerform
{
    text-align: center;
}
.button
{
    text-align: center;
    align-content: center;
    align-items: center;
    
}